body {
    background-color: black;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 50px;
    font-family: "Germania One", "San Serif";
} 
      
      
      

    



img {
    margin:auto;
    display: block;
    border-radius: 15%;
    width: 150px;
    height: 150px;

}
h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 10%;
}
h2 {
  text-align: center;
    color: white;
  font-size: 35px;
} 


ul, p, ol {
  font-size: 24px;
  color: white;
}
a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 30%;
  margin: 10px;
  padding: 10px;
  line-height: 70px;
  background-color: black;
  
}